//==============================================
// Variable Declarations
//==============================================

// Colour Variables //

$link-color: hsl(228, 45%, 44%);
$bg-color-card: #ffff;
$bg-color-base: hsl(210, 46%, 95%);
$primary-font-color: hsl(217, 19%, 35%);
$secondary-font-color: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);

// Border Radius Variables
$border-radius-card: 0.75rem;
$border-radius-circle: 50%;

// Font Size Variables //
$fs-sm: 0.75rem;
$fs-base: 0.8rem;
$fs-h1: 1rem;
$fs-attribution: 0.688rem;

// Font Family //
$primary-font: "Manrope", sans-serif;

// Spacing Variables //
$space-xxs: 0.5rem;
$space-xs: 0.75rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-xxl: 3rem;
$space-3xl: 3.5rem;
